<div class = chat_header>
  <div class = current_room>
    room1
  </div>
  <div class = finish_chat>
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class = chat_area>
  <div class = message>
    <div class = who_when>
      <div class = name>KACHU</div>
      <div class = date>2023/4/21(Fri) 18:30:00</div>
    </div>
    <div class = text>YO!</div>
  </div>
  <div class = message>
    <div class = who_when>
      <div class = name>KACHU</div>
      <div class = date>2023/4/21(Fri) 18:30:00</div>
    </div>
    <div class = text>YO!</div>
  </div>
</div>
<div class = form>
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
  </div>
</div>